@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@800&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body {   
    margin:0px;
    padding: 0px;
    height: 100%; 
    font-family: "Lato";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    font-family: "Inter";
}
#admin{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~LEFT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.48px;
    text-align: left;
    color: #333333;;
    margin-top: 15px;
    margin-bottom: 50px;
}
#logo span {
    color: #FFA101;
}


#left{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    border-right: solid 1px #333333;
    height: 100vh;
    top: 0;
    left: 0;

}

nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 0px;
    margin: 0px;
}
nav ul li{
    font-size: 15px;
    height: 50px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#plate{
    background-color: #DDDDDD;
}
#purchase-history{
    background-color: #DDDDDD;
}
#sales-history{
    background-color: #DDDDDD;
}
#staff{
    background-color: #DDDDDD;
}
#inventory{
    background-color: #DDDDDD;
}
#supplier{
    background-color: #DDDDDD;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~RIGHT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#right{
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 85%;
}
.search-container {
    position: relative;
    width: 50%;
    margin: 30px;
    margin-bottom: 40px;
}

.search-container input[type="search"] {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Aumenta el espacio para la lupa */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #DDDDDD;
    border: 1px solid #000000;
}

.search-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}
#search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container button img {
    width: 20px;
    height: 20px;
}
#add-plate{
    height: 30px;
}
table{
    width: 100%;
}
table,th,td    {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    
}
th,td{
    padding: 10px;
}
td{
    text-align: center
}
th img{
    width: 14px;
    height: 14px;
    cursor: pointer;
}
td img{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
