@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@800&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin:0;
    font-family: "Lato";
    background-color: #EEEEEE;

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.navbar {
    background-color: #FFD284;
    padding: 10px 0px;
    display: flex;
    width: 100%;
    align-items: center;
}

.navbar .logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.48px;
    text-align: left;
    color: #333333;;
}

.navbar .logo span {
    color: #F4A261;
}

.navbar .menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar .menu a {
    margin: 0 15px;
    padding: 5px 15px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #333333;
}

.navbar .menu a:hover {
    background-color: #FFAA33;
    color: #ffffff;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MAin~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.ocultar{
    display: none !important
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
#container-login{
    display: flex;
    flex-direction: column;
    border: 2px solid #FFA101;
    align-items: center;
    border-radius: 20px;
    padding: 30px 20px;
    width: 25%;
    background-color: #FFFFFF;

}
#login{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    width: 80%;
    gap: 5px;
    font-weight: bold;

}

#login input{
    background-color: #EEEEEE;
    border: 1px  solid #333333;
    border-radius: 10px;
    margin-left:5px;
    height: 22px;
    margin: 3px 0px 15px 0px;

}

#container-login img{
    width: 72px;
    border: 2px solid #FFA101 ;
    border-radius: 100px;
}
#button-sign-up{
    background-color: #FFA101;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    border: 0px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;    
}
#button-sign-up:hover{
    background-color: #FFAA33;
    color: #ffffff;
}