/* General styles */
body  {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Estilos de la barra lateral */
.sidebar {
    position: fixed;
    z-index: 100;
    width: 15%;
    height: 100%;
    background-color: #999999;
    border-right: 1px solid #666666;
}

.logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30.48px;
    text-align: left;
    color: #333333;
    padding: 10%;
}

.logo span {
    color: #FFA101;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding: 0;
    margin: 0px;
    list-style: none;
}

.sidebar ul li {
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar ul li a {
    padding: 10%;
    width: 100%;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a:hover {
    background-color: #aaaaaa;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~ Estilos del buscador ~~~~~~~~~~~~~~~~~~~~~~~ */
.search-container {
    position: relative;
    width: 50%;
    margin: 3%;
}

.search-container input[type="search"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #DDDDDD;
    border: 1px solid #000000;
}

.search-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

#search{
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: center;
}

.search-container button img {
    width: 20px;
    height: 20px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~ Estilos del boton ~~~~~~~~~~~~~~~~~~~~~~~ */
.add-item{
    position: sticky;
    top: 15%;
    width: 100%;
    padding: 0.3rem 0;
    border: 1px solid #999999;
    border-left: 0;
    border-right: 0;
}

.add-item:hover{
    background-color: #cccccc;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~ Estilos del contenido ~~~~~~~~~~~~~~~~~~~~~~~ */


h2 {
    padding-left: 1rem;
}

.content-section {
    margin-top: 10%;
}
.content {
    margin-left: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

table{
    width: 100%;
}

.data-name{
    position: sticky;
    top: 17.9%;
    width: 100%;
}

table th{
    background-color: #dddddd;
    font-size: 13px;
}
.sticky-top {
    top: 15%;
}
.sticky-top:last-child {
    top: 18.5%;
}
table th, table td {
    text-align: center;
    vertical-align: middle; 
}
/* Asignar tamaños a las columnas */
table th:nth-child(1), table td:nth-child(1) {
    width: 5%;  /* Columna para el ID */
}
table th:nth-child(2), table td:nth-child(2) {
    width: 25%; /* Columna para el Nombre */
}
table th:nth-child(4), table td:nth-child(4) {
    width: 10%; /* Columna para Precio Venta */
}
table th:nth-child(7), table td:nth-child(7) {
    width: 10%; /* Columna para el Stock */
 
}

table, th, td{
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    font-size: 13px;
}

th, td{
    padding: 10px;
}

td{
    text-align: center
}

/* Estilos opciones */

td button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

td button img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

td button:hover img {
    opacity: 0.6;
}


/* Estilos opciones */
.hide {
    display: none;
}

.sidebar ul li a.active {
    background-color: #FFA101; 
    color: #fff; 
    border-radius: 5px; 
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INPUTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.input-styles {
    width: calc(100% - 10px);  /* Ajuste para evitar que el input se superponga con los bordes de la celda */
    font-size: 12px;  
    margin: 0;
}
/* Estilos para los botones de guardar/cancelar */
.save-item, .cancel-item {
    font-size: 12px; 
    padding: 1% 3%;
    background-color: #FFA101;
    border: none;
    cursor: pointer;
}
.save-item:hover, .cancel-item:hover {
    background-color: #dddddd;
}