@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin:0 auto;
    cursor: url("/front-end/IMAGENES BUEN SABOR/pizza.png"), auto;
    font-family: sans-serif;
    font-weight: normal;
    background-color: #ffffff;background-color: #ffffff;
}

button, a {
    cursor: url("/front-end/IMAGENES BUEN SABOR/pizza.png"), auto;
}

/*~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~*/
ul {
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.navbar {
    background-color: #FFD284;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
    color: #333333;
}

.navbar .logo span {
    color: #FFA101;
}

.navbar nav ul {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar nav ul li a {
    margin: 0 1.6em;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    color: #333333;
}

.navbar nav ul li a:hover {
    color: #ffffff;
    border-radius: 5px;
}

#profile{
    border: 3px solid #FFA101;
    padding: 0.5em 1em;
    border-radius: 15px;
    margin-right: 25px;
}



/*~~~~~~~~~~BODY~~~~~~~~*/

.container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

aside {
    flex: 1;
}


/* ~~~~~~ LOADER ~~~~~~ */
.loader {
    display: none;
    margin: auto;
    margin-top: 10%;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}


/*~~~~~~~~~~MAIN PLATOS~~~~~~~~*/
main {
    flex: 3;
}

.container-main{
    margin: auto;
    justify-content: space-around;
    width: 90%;
}

.container-menu{
    background-color: #ffffff00;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.title-products{
    width: 100%;
    text-align: center;
    padding-top: 5%;
    margin: 10px 0 50px 30px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

.card-food, .card-promo {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 1px solid #AEACAC;
    border-radius: 30px;
    padding: 5% 2% 2% 2%;
    margin: 4%;
    margin-top: 0;
}

.card-food img, .card-promo img{
    width: 50%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}


/*~~~~~~~~~~ASIDE IZQUIERDO~~~~~~~~~~*/
.aside-left {
    z-index: 0;
    position: fixed;
    padding: 0 4%;
    padding-top: 1%;
    height: 100%;
}

.aside-left ul {
    padding-left: 5%;
    list-style-type: none; 
    padding: 0;
}

.nav-aside a{
    font-size: 0.8rem;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    background-color: #FFA101;
    padding: 4%;
    border-radius: 30px;
    margin: 10% 0;
    text-align: center;
    box-shadow: 5px 10px 15px 0px #00000033;
}
/*~~~~~~~~~~ASIDE DERECHO~~~~~~~~~~*/

.aside-right {
    padding-top: 3%;
}

.aside-right #pedido{
    justify-content: center;
    width: 100%;
    margin: auto;
    position: fixed;
    border: 1px solid #AEACAC;
    border-radius: 20px;
    width: 19%;
    box-shadow: 0px 0px 10px 5px #00000033;
}

#pedido h2{
    margin: auto;
    padding: 5% 0;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #AEACAC;
}

#pedido ul{
    width: 90%;
    padding-left: 5%;
}

#pedido ul li{
    font-size: 0.8rem;
    font-weight: bold;
	display: flex;
	justify-content: space-between;
    border: 1px solid #AEACAC;
    border-radius: 10px;
    padding: 5% 2%;
    margin-bottom: 4%;
}

#pedido #total-pedido{
    padding: 4% 0 0 0;
    text-align: center;
    font-weight: bold;
}

#pedido .container-buttons-carrito{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom:4% ;
}

#pedido #editar-carrito{
    padding: 4%;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: #FFA101;
    font-weight: bold;
}

#pedido #pagar{
    padding: 4%;
    border: none;
    border-radius: 10px;
    background-color: #FFA101;
    color: #333333;
    font-weight: bold;
}

/*~~~~~~~~~~FOOTER~~~~~~~~*/

footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding: 3% 0 4% 0;
}

#footer-name{
    display: flex;
    flex-direction: column; 
}

#footer-name p{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    color:#FFFFFF ;
}

#footer-name p span{
    color: #FFA101;
}

#container-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#FFFFFF ;
    font-family: sans-serif;
}

.contact img{
    width: 30px;
    height: 30px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MODAL PLATOS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#productModal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000099;
}

#productModal .modal-header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #FFAA00; 
    padding: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #333333; 
}
#productModal .modal-image {
    width: 40%; 
    object-fit: cover;
    margin-top: -5%; 
    padding-top: 10%;
}

#productModal .modal-content {
    padding: 1% 4% ;
}

#productModal .modal-description {
    font-size: 0.8em;
    color: #333;
}

/* Precio              NO FUNCIONA*/ 
#productModal .modal-price {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1%;
}

#productModal .close {
    position: absolute;
    top: 1.5%;
    right: 3%;
    font-size: 2em;
    color: #333;
    cursor: pointer;
}

#productModal .close:hover {
    color: #ffffff; 
}

.option {
    display: flex; 
    align-items: center; 
    margin-bottom: 3%;
    padding: 0 10%;
}

.option label {
    flex: 1; 
}

.quantity-control {
    display: flex; 
    align-items: center;
}

.quantity-control button {
    margin: 0;
    width: 1.7em; 
    height: 1.7em;
    font-size: 1.2em;
    background-color: #FFA101;
    border: none;
    cursor: pointer; 
    border-radius: 10%;
}

.quantity-control input {
    width: 2.5em;
    height: 2.4em;
    text-align: center;
    border: none;
    border: 1px solid #777777;
}

.btn-agregar-bebidas {
    background-color: #FFAA00; 
    color: white; 
    padding: 2% 4%;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    margin-left: auto;
}

.btn-agregar-carrito {
    bottom: 0;
    width: 90%;
    background-color: #ff9900; 
    color: white;
    padding: 3% 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 0 3% 5%;
}

/* Estilo del botón de agregar al carrito al pasar el mouse */
.btn-agregar-carrito:hover,
.btn-agregar-bebidas:hover {
    background-color: #e68a00; 
}


/* ~~~~~~~~~~~~~~~~~~~~MODAL PROMOS~~~~~~~~~~~~~~~~~~~+*/
#promosModal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000099;
}

/* Encabezado del modal */
#promosModal .modal-header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #FFAA00; 
    padding: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #333333; 
}

/* Imagen del modal */
#promosModal .modal-image {
    width: 40%; 
    object-fit: cover;
    margin-top: -5%; 
    padding-top: 10%;
}

/* Contenido del modal */
#promosModal .modal-content {
    padding: 1% 4% ;
}

/* Descripción de la promo */
#promosModal .modal-description ul{
    list-style: none;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

#promosModal .modal-description ul li{
    font-size: 0.8rem;
    font-weight: bold;
	display: flex;
	justify-content: space-between;
}

/* Precio              NO FUNCIONA*/ 
#promosModal .modal-price {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1%;
}

/* Botón de cierre */
#promosModal .close {
    position: absolute;
    top: 1.5%;
    right: 3%;
    font-size: 2em;
    color: #333;
    cursor: pointer;
}

#promosModal .close:hover {
    color: #ffffff; 
}

/* Estilos para las opciones de personalización */
.option {
    display: flex; 
    align-items: center; 
    margin-bottom: 3%;
    padding: 0 10%;
}

/* Estilo del label */
.option label {
    flex: 1; 
}

/* Estilo del control de cantidad */
.quantity-control {
    display: flex; 
    align-items: center;
}

/* Estilo de los botones de aumentar y disminuir */
.quantity-control button {
    margin: 0;
    width: 1.7em; 
    height: 1.7em;
    font-size: 1.2em;
    background-color: #FFA101;
    border: none;
    cursor: pointer; 
    border-radius: 10%;
}

/* Estilo del input de cantidad */
.quantity-control input {
    width: 2.5em;
    height: 2.4em;
    text-align: center;
    border: none;
    border: 1px solid #777777;
}

/* Estilo del botón "Agregar Bebidas" */
.btn-agregar-bebidas {
    background-color: #FFAA00; 
    color: white; 
    padding: 2% 4%;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    margin-left: auto;
}

/* Estilo del botón "Agregar al Carrito" */
.btn-agregar-carrito, .btn-agregar-carrito-promo{
    bottom: 0;
    width: 90%;
    background-color: #ff9900; 
    color: white;
    padding: 3% 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 0 3% 5%;
}

/* Estilo del botón de agregar al carrito al pasar el mouse */
.btn-agregar-carrito:hover,
.btn-agregar-bebidas:hover {
    background-color: #e68a00; /* Color más oscuro al pasar el mouse */
}




/*~~~~~~~~~~~~~~~~~MODAL IR A PAGAR~~~~~~~~~~~~~~*/
#modal-pagar{
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    min-height: 40%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000099;
}

.metodo-de-pago {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    width: 80%;
}

/* Botón para cerrar el modal */
.metodo-de-pago .close {
    color: #000000;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

/* Responsive para tablets y dispositivos medianos */
@media (max-width: 1024px) {
    .navbar {
        padding: 2%; 
    }

    .container-menu {
        grid-template-columns: repeat(2, 1fr); 
    }

    .card-food img, .card-promo img {
        width: 60%; /* Aumentamos la imagen para mejor visibilidad */
    }
    
    .aside-right #pedido {
        width: 30%; /* Reducimos el ancho */
    }

    .aside-left, .aside-right {
        position: static; /* Para que no se fijen en un solo lugar en pantallas medianas */
        padding-top: 5%;
    }
}

/* Responsive para móviles */
@media (max-width: 768px) {
    .navbar .logo {
        font-size: 1.2em; 
    }

    .navbar nav ul {
        flex-direction: column;
        padding: 0;
    }

    .container-menu {
        grid-template-columns: 1fr;
    }

    #barra {
        flex-direction: column; 
        padding-top: 0;
    }

    .title-products {
        font-size: 24px; 
    }

    .card-food, .card-promo {
        width: 100%;
        margin: 2% auto;
    }

    .card-food img, .card-promo {
        width: 70%; 
    }


    .aside-left, .aside-right, #profile {
        display: none; 
    }

    #productModal, #modal-pagar {
        width: 90%;
        max-width: 350px;
    }
    
    .btn-agregar-carrito, .btn-agregar-bebidas {
        padding: 4% 0;
        font-size: 1em;
    }
}


/* NOTIFICACION */

/* Estilos para el contenedor de la notificación */
.toast-notification {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Animación para hacerla aparecer */
.toast-notification.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Animación para desaparecer */
.toast-notification.hide {
    opacity: 0;
    transform: translateY(-20px);
}
